<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="/js/checkToken.js"></script>
</head>
<body>
<h1>HOME</h1>

<p id="user_info">

</p>


<a href="/tasks/beno">Go to my tasks</a>

<script src="/js/home.js"></script>
</body>
</html>